# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/

# Arquivos de execução e logs
*.log
*.class
*.jar
*.war
*.ear

# Arquivos temporários
*.swp
*.tmp
*~

# Sistema operacional
.DS_Store
Thumbs.db

# Configuração de sistema
.env
.settings/
.vscode/
*.launch
*.bak
*.orig

# GitHub Packages ou token local
~/.m2/settings.xml
**/settings.xml

# Arquivos de CI gerados localmente
.github/workflows/*.log